{# src/NewsletterBundle/Resources/views/Advert/index.html.twig #}

{% extends "NewsletterBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block newsletter_body %}
  {% verbatim %}
  <div id="app">
    {{ message }}
  </div>    
  {% endverbatim %}

  <h2>Liste des annonces</h2>

  <div>
  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('notice') %}
    <p>Message flash : {{ message }}</p>
  {% endfor %}
</div>

  <ul>
    {% for campaign in listCampaigns %}
      <li>
        <a href="{{ path('newsletter_view', {'id': campaign.id}) }}">
          {{ campaign.title }}
        </a>
        par {{ campaign.author }},
        le {{ campaign.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de campagnes</li>
    {% endfor %}
  </ul>

  <a href="{{ path('newsletter_add') }}" class="btn btn-primary">Nouvelle Newsletter</a>

{% endblock %}